.testMenu {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
}

.menuText {
    color: black;
}

.menuOption {
    padding-top: 10px;
}